 @import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    /* background-color: #f5f5f5c0; */
     background-color: #f0f0f0;
    color: #000;
}